---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/search?query=character
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"total":15,"result":[{"categories":["movie"],"created_at":"2020-01-05
        13:42:18.823766","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"etu5stytromsxrgybafqca","updated_at":"2020-01-05
        13:42:18.823766","url":"https://api.chucknorris.io/jokes/etu5stytromsxrgybafqca","value":"In
        the X-Men movies, none of the X-Men super-powers are done with special effects.
        Chuck Norris is the stuntman for every character."},{"categories":[],"created_at":"2020-01-05
        13:42:20.568859","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"Fy13bVHIQAGy4FSuuKying","updated_at":"2020-01-05
        13:42:20.568859","url":"https://api.chucknorris.io/jokes/Fy13bVHIQAGy4FSuuKying","value":"Chuck
        Norris killed \"Digger\" his toenail fung[...]
